.screen-home {
    .product {
        &.product-animate {
            animation-name: appear;
            animation-duration: 1s;
        }
    }

    @keyframes appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}