<section class="screen-home">
    <div class="container">
        <h1 class="screen-home__title">
            Buyless
        </h1>
        <h2 class="screen-home__motto">
            Your Right Place for the Wrong Product
        </h2>
        <div
            *ngIf="globalService.products[randomIndex]; else elseBlock"
            [ngClass]="{
                product: true,
                'product-animate': animate
            }"
            (animationend)="turnOffAnimation()"
        >
            <h2 class="product__title">
                {{ globalService.products[randomIndex].title }}
            </h2>
            <a [routerLink]="'../products/' + globalService.products[randomIndex].id">
                <img class="product__image" [src]="globalService.products[randomIndex].imageUrl">
            </a>
        </div>
        <ng-template #elseBlock>
            <div class="loader"></div>
        </ng-template>
    </div>
</section>