<section class="screen-cart">
    <div class="container" *ngIf="globals.cart.length > 0; else noitems">
        <div class="screen-cart__items">
            <div
                class="cart-item"
                *ngFor="let cartItem of globals.cart"
            >
                <img class="cart-item__image" [src]="cartItem.imageUrl">
                <button class="cart-item__remove-button" (click)="globals.deleteCartItem(cartItem)">
                    Remove
                </button>
                <h2 class="cart-item__title">
                    {{ cartItem.title }}
                </h2>
                <div class="cart-item__controlls">
                    <button
                        class="cart-item__button"
                        (click)="globals.removeProductFromCart(cartItem)"
                    >
                        -
                    </button>
                    <p class="cart-item__amount">
                        {{ cartItem.price }} x {{ cartItem.amount }} EUR
                    </p>
                    <button
                        class="cart-item__button"
                        (click)="globals.addProductToCart(cartItem)"
                    >
                        +
                    </button>
                </div>
            </div>
        </div>
        <a routerLink="/checkout">
            Checkout
        </a>
    </div>
    <ng-template #noitems>
        <div class="no-items">
            <p class="no-items__message">
                There is nothing in your cart
            </p>
            <button class="no-items__button" (click)="router.navigateByUrl('/products')">
                Products
            </button>
        </div>
    </ng-template>
</section>