<section class="screen-products">
    <div class="container">
        <div class="screen-products__filter">
            <input
                type="text"
                placeholder="🔎 Search for a product..."
                class="search-term-input"
                (input)="navigate($event)"
            >
            <p class="no-results-message" *ngIf="filtered.length === 0">
                No search results...
            </p>
        </div>
        <div class="screen-products__products">
            <div class="product" *ngFor="let product of getDisplayArray().slice(page * itemsPerPage, page * itemsPerPage + itemsPerPage)">
                <h2 class="product__title">
                    <a class="title-link" [routerLink]="'./' + product.id">
                        {{ product.title }}
                    </a>   
                </h2>
                <a [routerLink]="'./' + product.id">
                    <img class="product__image" [src]="product.imageUrl">
                </a>
                <ul class="product__tags">
                    <li class="product-tag" *ngFor="let tag of product.tags">
                        {{ tag }}
                    </li>
                </ul>
                <p class="product__price">
                    {{ product.price }} EUR
                </p>
                <a class="product__button" [routerLink]="'./' + product.id">
                    Details
                </a>
            </div>
        </div>
        <ul class="screen-products__pagination">
            <li 
                *ngFor="let pageNumber of getPageNumbers()"
                [ngClass]="{
                    'pagination-item': true,
                    'pagination-item--active': pageNumber === page
                }" 
            >
                <button class="pagination-item__button" [value]="pageNumber" (click)="setPage($event)">
                    {{ pageNumber + 1 }}
                </button>
            </li>
        </ul>
    </div>
</section>