<nav class="component-navigation">
    <ul class="component-navigation__items">
        <li class="navigation-item" *ngFor="let navigationItem of navigationItems">
            <a 
                class="navigation-item__link"
                [routerLink]="navigationItem.endpointUrl"
            >
                <span class="navigation-item__amount" *ngIf="navigationItem.label === 'Cart' && globals.getCartTotalAmount() > 0">
                    {{ globals.getCartTotalAmount() }}
                </span>
                {{navigationItem.label}}
            </a>
        </li>
    </ul>
</nav>